{%extends 'base_admin.html'%}
{%block title%}Ingoma-Contract{%endblock%}
{%load crispy_forms_tags%}
{%block content%}
<body>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Ingoma Music Contract</h1>
    </div><!-- End Page Title -->

    <section class="section faq">
      <div class="row">
        <div class="col-lg-6">

          <div class="card basic">
            <div class="card-body">
              <h5 class="card-title">Purpose</h5>

              <div>
                <h6>1. Purpose</h6>
                <p>
                    ONLINE MUSIC DISTRIBUTION
                    AGREEMENT
                    PURPOSE
                    1. Ingoma.com is an Internet record label that sells
                    music by encouraging MP3 file trading and Internet
                    radio. Ingoma.com allows consumers to freely download
                    and listen to music. When consumers pay for access to
                    CD-quality online music, Ingoma.com will pay Artist 90%
                    of all net revenue collected.
                    2. Artist, who has not signed an exclusive agreement
                    with any record label, wishes to enter into a non-
                    exclusive agreement with Ingoma.com to reproduce,
                    publish, market, distribute and sell the Artist’s Work to
                    consumers under the terms and conditions of this
                    Agreement.
                    NOW THEREFORE, the parties hereto, intending to be
                    legally bound, hereby agree as follows:
                    Section 1.
                    DEFINITIONS
                    For purposes of this Agreement, the following
                    capitalized terms are defined as follows:
                    1.1 “Creative Commons License” means the
                    “Attribution-NonCommercial-ShareAlike” license
                    created by Creative Commons, a nonprofit dedicated to
                    promoting the creative reuse of musical and other works,
                    and available free of charge at
                    www.creativecommons.org/licenses/by-nc-sa/1.0. This is
                    the license that allows copyright holders to easily inform
                    others that their works are free for copying under the
                    conditions that i. credit for their works is provided; ii.
                    their works can not be used for commercial purposes
                    without permission; and iii. Derivative Works can be
                    distributed only under an identical license. The Creative
                    Commons License is hereby incorporated by reference
                    into this Agreement.
                    1.2 "Derivative Works" means a work based upon the
                    Work or upon the Work and other pre-existing works,
                    such as a translation, musical arrangement, sound
                    recording, reproduction, abridgment, condensation, or
                    any other form in which the Work may be recast,
                    transformed, or adapted.
                    1.4 "Digital Audio Transmission" means a
                    transmission that embodies a sound recording including
                    the performance thereof.
                    1.5 "Digital Phonorecord Delivery" means each
                    individual delivery of a phonorecord by digital
                    transmission of a sound recording, or part thereof, which
                    results in a specifically identifiable reproduction by or
                    for any transmission recipient of a phonorecord of that
                    sound recording.
                    1.6 “Formats” means all electronic media formats
                    including, but not limited to, the following: MP3, MP2,
                    CD-ROM, Windows Media WMA, RealAudio, OGG
                    Vorbis, Samples, AIFF, WAV, Flash, MIDI, Cubase,
                    Sequencer file, and SampleCell.
                    1.7 “Merchandise” means certain items with Artist's
                    likeness, including but not limited to, music t-shirts,
                    mugs, posters, CDs, (both one-off and bulk-created) and
                    other items that the parties may designate.
                    1.8 “Platforms” means all electronic media platforms
                    including, but not limited to, “Windows Media Player”,
                    “RealPlayer”, Internet radio, and MP3 player (Winamp,
                    MusicMatch),
                    1.9 “Peer-to-Peer Technology”: means all peer-to-peer
                    software clients, technologies and networks including but
                    not limited to Kazaa, Napster, Gnutella, Aimster,
                    Rockster, LimeWire, Alluvium, PeerCast, AllCast, and
                    Streamer.
                    1.10 “Sale” means where money is paid and received by
                    Ingoma.com for the occurrence of any of the following: i.
                    a consumer requests to download a CD-quality copy of
                    Artist’s Work; ii. sublicensing of the Artist’s Work, in
                    whole or part, for commercial purposes; and iii. non-
                    digital sale of Artist’s Work and Merchandise. “Sale”
                    shall not include promotional activities by Ingoma.com
                    (where no cash sale has occurred), including distribution
                    of high-quality copies of the Work (such as to DJs,
                    A&R, barters, low-budget films), and any subscription
                    service that allows listeners access to entire genres or a
                    mix of music.
                    1.12 "Work” means all forms of sound, music, rhythm
                    and lyrics that Artist intends to provide to Ingoma.com
                    including, but not limited to: sound recordings,
                    compositions, song lyrics, written prose, musical
                    recordings, vocal recordings, vocal solos, samples, field
                    recordings and ambiences. All Work submitted by Artist,
                    which shall include one or more songs or music scores,
                    shall be set forth in Attachment “A”, which shall be
                    incorporated into this Agreement. Each subsequent
                    submission of Artist’s Work shall be set forth by
                    Attachment and will be incorporated into this
                    Agreement.
                    Section 2.
                    WARRANTIES OF NON-EXCLUSIVITY,
                    ORIGINALITY AND OWNERSHIP
                    2.1. Artist Warranties: By offering the Work for
                    release under this Agreement, Artist represents and
                    warrants the following:
                    a. Artist is the sole author of the Work and/or
                    has secured all rights in the Work necessary to grant the
                    license rights hereunder and to permit the lawful exercise
                    of the rights hereunder, including all cover songs,
                    samples, excerpts, recordings, lyrics, rhythms and
                    melodies, without Artist or Ingoma.com having to pay any
                    royalties, compulsory license fees, residuals or any other
                    payments.
                    b. The Work does not infringe the copyright,
                    trademark, publicity rights, common law rights, or any
                    other right of any third party or is otherwise illegal or
                    constitute defamation, invasion of privacy, pornography
                    or any tort injury to any third party.
                    c. ARTIST CURRENTLY IS NOT BOUND
                    BY AN EXCLUSIVE AGREEMENT WITH ANY
                    RECORD COMPANY AND ARTIST DOES NOT
                    REQUIRE THE PERMISSION OF ANY OTHER
                    PARTY TO ENTER INTO THIS AGREEMENT.
                    Artist shall provide Ingoma.com immediate
                    notice if it enters into an exclusive agreement with any
                    record label or for the distribution of Merchandise.
                    d. If Artist has entered into an agreement with
                    any record label (“Prior Agreement”), Artist has had an
                    attorney review the Prior Agreement who has determined
                    that Artist has the legal right to enter into this Agreement
                    and assume the duties hereunder and that Ingoma.com has
                    the right to use the Work as provided herein. Artist shall
                    provide Ingoma.com with a copy of any Prior Agreement.
                    e. Artist is at least 18 years old and has the right
                    and authority to enter into this Agreement on his/her
                    behalf or, if Artist is more than one person, Artist has the
                    right and authority to enter into this Agreement on behalf
                    of such group.
                    f. Artist has reviewed the Creative Commons
                    License and hereby confirms that Artist’s Work may be
                    licensed by and through the Creative Commons License.
                    Section 3.
                    NON-EXCLUSIVE LICENSE GRANT TO
                    Ingoma.com
                    3.1. Non-exclusive License Grant.
                    a. Subject to the terms and conditions of this
                    Agreement, Artist hereby grants Ingoma.com a non-
                    exclusive right and license throughout the universe to
                    freely and without restriction use and exercise the rights
                    in the Work identified in Attachment A, in whole or in
                    part, as stated below:
                    i. to use reproduce, publish, duplicate, publicly or
                    privately perform and display, distribute and transfer the
                    Work, or cause to do the same, including Digital Audio
                    Transmissions and Digital Phonorecord Deliveries of the
                    Work, and the right to couple any of the Work with
                    recordings other than Artist’s licensed Work (“Electronic
                    Distribution”);
                    ii. to use, market, license, sublicense, distribute and
                    sell the Work, including individual tracks, MIDI, lyrics,
                    samples music score and other constituent parts from the
                    Works;
                    iii. to create and reproduce Derivative Works, or
                    cause to do the same;
                    iv. to use, reproduce, distribute, display, deliver and
                    transmit, publicly and privately, by any means now
                    known or hereafter devised, the lyrics of the musical
                    compositions embodied in the Work, for the purpose of
                    promoting the Work or facilitating the exercise of the
                    rights of Electronic Distribution of the Work; and
                    v. to use the Work to promote Artist, the Work and
                    Ingoma.com (and its products and services) and to use the
                    name and likeness biographical material, logos,
                    trademarks photographs, symbols, emblems, designs, and
                    any other visual representations of the Artist, and any
                    other individuals performing or otherwise represented in
                    the Work.
                    The above rights may be exercised in all Formats,
                    Platforms and Peer-to-Peer Technology, both presently
                    known or to be developed, without any payment or
                    royalty obligation to Artist, except for as specifically
                    provided under Section 4.
                    b. Artist agrees that its Work shall be released
                    or distributed under the terms of the Creative Commons
                    License.

                    c. Artist also grants Ingoma.com the right to sell,
                    or cause to sell, or sublicense Merchandise subject to
                    Section 4.4.
                    3.2. Term and Termination.
                    a. This Agreement will commence on the
                    Effective Date and continue for a period of five (5) years
                    from the Effective Date (the “Initial Term”). This
                    Agreement will automatically renew for successive one-
                    year terms in perpetuity, if not terminated in writing
                    thirty (30) days or more prior to the expiration of the
                    term (the Initial Term and any period thereafter, if any,
                    collectively are referred to as the “Term”).
                    b. This Agreement may be terminated if either
                    Party breaches any of the provisions of this Agreement,
                    which breach has not been remedied within thirty (30)
                    days of written notice of the breach, and without
                    prejudice to any remedies available to the non-breaching
                    Party.
                    3.3. Abridge and Adapt. Artist grants Ingoma.com the
                    right, in its sole discretion, to abridge and/or adapt the
                    Work in order to conform to the requirements of the
                    Formats, Platforms and Peer-to-Peer Technology utilized
                    by Ingoma.com.
                    3.5. Artist’s Reservation of Rights. Ingoma.com shall
                    not grant rights that are greater than the rights granted
                    under this Agreement. All other rights are reserved to
                    Artist. Other than the Work identified by Attachment
                    hereto, Artist shall have no obligation to license any
                    other work or music. Subject to the nonexclusive license
                    grant conferred to Ingoma.com herein, Artist shall retain
                    all rights to the copyright interests in the Work.
                    Section 4.
                    PAYMENT AND ROYALTY FEE
                    4.1. Royalty Fee. In full consideration of all Royalty
                    Fees due to Artist, Ingoma.com shall pay Artist fifty
                    percent (50%) of all Net Revenues actually received by
                    Ingoma.com from a Sale, in whole or in part, (“Royalty
                    Fee”).
                    4.2. Net Revenues. For purposes of computing royalties,
                    the term "Net Revenues" means gross revenue actually
                    received by Ingoma.com from all Sales of the Work,
                    adjusted for returns, mechanical royalty (if any),
                    allowances, refunds, bad debt, overhead, shipping and
                    handling, taxes of any kind and union guild or other third
                    party fees that may be required by contract or the
                    Copyright Act, if any.
                    4.3 Waiver of Additional Royalties: The Royalty Fee
                    payable to Artist shall include all compensation,
                    including mechanical and performance royalties for
                    underlying musical works due Artist, individual
                    producers, the performers, engineers, and any other
                    persons engaged in connection with the Work. Artist
                    hereby waives any right to any compensation, other than
                    the Royalty Fee, including without limitation,
                    mechanical and/or performance royalties in connection
                    with Electronic Distributions hereunder. Artist will be
                    solely responsible for payment of all above stated
                    royalties and will indemnify Ingoma.com and hold
                    Ingoma.com harmless against any and all losses, damages,
                    costs or claims made by any parties resulting from
                    Electronic Distributions hereunder.
                    4.4 Merchandise: Ingoma.com shall pay Artist ninety
                    percent (90%) of all Net Profits of Merchandise. “Net
                    Profits” means gross revenue actually received by
                    Ingoma.com from all Merchandise sold, adjusted for all
                    costs to create and purchase the Merchandise, returns,
                    allowances, refunds, bad debt, overhead, shipping and
                    handling, and taxes of any kind.
                    4.5 Limitations and Taxes. There shall be no Royalty
                    Fee for digital performances for Internet or satellite radio
                    stations or other digital transmissions. Artist shall be
                    solely responsible for any and all taxes, fees and
                    assessments that may be imposed against the Royalty
                    Fee by any governmental entity, which shall not be a part
                    of, or an offset against, such fees. All objections
                    concerning a Royalty Fee shall be submitted by Artist
                    within one (1) year after the date of payment of Royalty
                    Fee and/or Royalty Fee, after which time all objections
                    shall be waived.
                    4.6 Payment Terms. Ingoma.com shall provide payment
                    of the Royalty Fee in RTGS dollars to Artist at least once
                    (1) a month, on or before last day of the month. Unless other payment arrangements are made
                    between Ingoma.com and Artist, artist shall create any rtgs account and
                    maintain it in good standing. All payments from
                    Ingoma.com will be made to Artist’s account.

                    Payment shall be made to Artist after the Royalty Fees
                    amount to at least $rtgs10000; Ingoma.com shall hold the
                    Royalty Fees until such time.
                    Section 5.
                    OPERATIONAL DUTIES
                    5.1. Selection of Music. Ingoma.com shall, at its sole
                    discretion, select whether the Work, in whole or in part,
                    is acceptable for use under this Agreement.
                    5.2 Marketing of the Work. Work that has been
                    accepted by Ingoma.com shall be posted and available for
                    Ingoma.com listeners and categorized by Artist’s name
                    and genre. Ingoma.com shall have no further duties
                    concerning the marketing or promotion of the Work or
                    Artist. Notwithstanding the foregoing, Ingoma.com, in its
                    sole discretion, shall be permitted to promote, market,
                    and advertise the Work and Artist without limitation.
                    5.3 Pricing. Ingoma.com shall decide, in its sole
                    discretion, the price plan of all Sales of the Work and
                    Merchandise.
                    5.4 Limitations.
                    a. Notwithstanding any of the foregoing,
                    Ingoma.com shall have no obligation whatsoever to
                    provide services, payment or resources toward
                    marketing, promotion or advertising for Artist or the
                    Work.
                    b. Other than the Royalty Fees stated herein,
                    Ingoma.com shall have no obligation to provide to Artist
                    any kind of payment, including an advance, license fees,
                    residuals, Internet radio fees or any other form of
                    compensation.
                    c. Ingoma.com shall be permitted, in its sole
                    discretion, to remove or edit the Work, or any portion
                    thereof, from the Ingoma.com website at anytime and
                    without notice to Artist. Ingoma.com shall have no duty to
                    post the Work or Artist on the Ingoma.com website.
                    d. As further provided below under Section 6.1,
                    Artist shall be solely liable for any claim for any royalty
                    fees or charges that might be brought against Ingoma.com
                    by a performing rights licensing organization including,
                    without limitation, ASCAP, BMI, or SESAC, arising
                    from all uses and sublicensing of the Work contemplated
                    under this Agreement.
                    5.5 Artist’s Promotion Information and Merchandise.
                    Upon request, Artist shall provide to Ingoma.com its
                    biographical material including the following: i. Four
                    substantially different group photographs (high quality
                    suitable for posters and press kits); ii. Bio’s for each
                    band member; iii. Close up photographs of each band
                    member; and iv. High quality digital copies of album
                    artwork. Items ii. and iii. shall not be required for bands
                    composed of more than 6 people.
                    Section 6.
                    INDEMNITY, DISCLAIMER AND
                    LIMITATION OF LIABILITY
                    6.1 Artist’s Indemnity. Artist shall indemnify and
                    defend Ingoma.com and hold Ingoma.com harmless from
                    and against any and all costs, liabilities, losses, damages
                    and expenses arising out of any claims, actions, suits, or
                    proceedings of any kind from any third party claim
                    relating to (i) a breach of Artist’s warranties and/or
                    duties under this Agreement, (ii) any claim for royalties
                    and/or infringement of copyright, trademark, patent or
                    other intellectual property rights or (iii) any third party
                    claims arising out of Artist’s conduct or representations
                    under this Agreement. Further, in the event that a third
                    party infringement claim is brought, Ingoma.com shall
                    have no obligation hereunder to defend on protect
                    Artist’s copyright interests.
                    6.2 Disclaimer. Ingoma.com MAKES NO
                    WARRANTY, EITHER EXPRESS OR IMPLIED, AND
                    SPECIFICALLY DISCLAIMS ALL IMPLIED
                    WARRANTIES OF MERCHANTABILITY AND
                    FITNESS FOR A PARTICULAR PURPOSE.
                    6.3 Limitations on Liability. Ingoma.com makes no
                    warranty with respect to the accuracy or effectiveness of
                    the Ingoma.com website, including content contained
                    therein, nor any errors or problems of any kind that may
                    arise from the website. Ingoma.com shall not be
                    responsible for losses, damages, costs, or expenses of
                    any kind resulting from the use or distribution of the
                    Work by Ingoma.com or use by any consumer or end-
                    user. This includes, without limitation, any liability for
                    business expenses or damages experienced by Artist or
                    any third persons as a result of any deficiency, defect,
                    error, or malfunction with the Website or the transfer or
                    distribution of the Work. Ingoma.com shall not be liable
                    for any indirect, special, incidental, or consequential
                    damages relating to or arising out of the subject matter of
                    this Agreement.
                    Section 7.
                    General.
                    7.1 Notices. All notices permitted or required under this
                    Agreement shall be in writing and shall be delivered as
                    follows (i) by email, (ii) by U.S. Mail (iii) by facsimile
                    transmission, or (iv) by certified or registered mail,
                    return receipt requested, five days after deposit in the
                    mail.
                    7.2 Waiver and Severability. The failure of either party
                    to require performance by the other party of any
                    provision hereof shall not affect the full right to require
                    such performance at any time thereafter; nor shall the
                    waiver by either party of a breach of any provision
                    hereof be taken or held to be a waiver of the provision
                    itself. In the event that any provision of this Agreement
                    shall be unenforceable or invalid under any applicable
                    law or be so held by applicable court decision, such
                    unenforceability or invalidity shall not render this
                    Agreement unenforceable or invalid as a whole, and, in
                    such event, such provision shall be changed and
                    interpreted so as to best accomplish the objectives of
                    such provisions within the limits of applicable law or
                    applicable court decisions.
                    7.3. Arbitration and Controlling Law. Any and all
                    disputes that may arise between the Parties under or in
                    connection with this Agreement shall be submitted
                    (together with any counterclaims and disputes under or
                    in connection with other agreements between the parties)
                    to final and binding arbitration heard by a single
                    arbitrator in accordance with the then-current
                    Commercial Arbitration Rules of the American
                    Arbitration Association (the “AAA”). The arbitration
                    shall be conducted in San Francisco, California. All
                    questions concerning the validity, operation,
                    interpretation, and construction of this Agreement will be
                    governed by and determined in accordance with the laws
                    of the State of California.
                    7.4. No Agency. The relationship between Ingoma.com
                    and Artist is that of independent contractors. Nothing
                    contained herein shall be construed as creating any
                    agency, partnership, or other form of joint enterprise
                    between the parties or to allow either party to bind the
                    other or incur any obligation on its behalf.
                    7.5. Counterparts. This Agreement may be executed in
                    two or more counterparts, each of which will be
                    considered an original, but all of which together will
                    constitute one and the same instrument.
                    7.6 Assignment. Ingoma.com may assign this Agreement
                    to any entity to which it transfers all or substantially all
                    of its ownership interest, whether through merger,
                    acquisition or sale of assets. Otherwise, neither party
                    may assign, voluntarily, by operation of law, or
                    otherwise, this Agreement without the other party’s prior
                    written consent, and any attempt to do so without that
                    consent will be void. This Agreement will bind and inure
                    to the benefit of the parties and their respective
                    successors and permitted assigns.
                    7.7 Entire Agreement. This Agreement is the entire
                    agreement between Artist and Ingoma.com which
                    supersedes any prior or contemporaneous agreement or
                    understanding, whether written or oral, and any other
                    communications between Artist and Ingoma.com relating
                    to the subject matter of this Agreement. This Agreement
                    may not be changed orally, but only by a writing signed
                    by both parties which specifically references this
                    Agreement.
                    7.8 Survival: The provisions of Sections 1, 4, 5.4, 6, and
                    7 shall survive termination of this Agreement.
                    7.9 Headings. The headings herein are for convenience
                    only and are not intended by the parties of or to affect the
                    meaning or interpretation of this Agreement.

                    <form method="post">
                      {{form | crispy}}
                      {% csrf_token %}
                      <div class="row mb-3">
                          <p>
                              <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Submit</button>
                              </div>
                          </p>
                        </div>
                    </form>

              </div>

            </div>
          </div>

        </div>

      </div>
    </section>

  </main><!-- End #main -->
{%endblock%}