{%extends 'base.html'%}
{%block title%}Registration Successful{%endblock%}
{%block content%}
 <div id="latestalbum" class="hero pad">
				<div class="container">
					<!-- hero content -->
					<div class="hero-content ">
						<!-- heading -->
						<h2>Welcome to Ingoma.com</h2>
						<hr>
						<!-- paragraph -->     
						<p>Create <strong class="theme-color"><a href="{% url 'artist_admin:create-artist-account' %}"> Artist</a></strong> Account ?
                            </p>
					</div>
{%endblock%}