{%extends 'base_admin.html'%}
{%load crispy_forms_tags%}
{%block title%}Ingoma-Registration{%endblock%}
{%block content%}
<body>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="assets/img/logo.png" alt="">
                  <span class="d-none d-lg-block">Ingoma.com</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Create Your Ingoma Account</h5>
                  </div>

                  <form method="post">

                    <div class="col-12">
                      {{user_form | crispy}}
                      {%csrf_token%}
                    </div>
                    <input type="hidden" name="next" value="{{ next }}" />
                    <p>
                      <div class="col-12">
                        <button class="btn btn-primary w-100" type="submit">Sign-Up</button>
                      </div>
                  </form>

                </div>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->
{%endblock%}