.music-player {
	width: 100%;
	height: 500px;
	background-color: #2c3034;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.album-art {
	position: relative;
	width: 100%;
	height: 300px;
	border-radius: 10px;
	overflow: hidden;
}

.album-art-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.record-overlay{
	position: absolute;
	width: 50%;
	height: 100%;
	background-image: url('../img/background/disk.png');
	background-size: cover;
	top: 0%;
	left: 50%;
	margin-top: -0px;
	margin-left: -150px;
	opacity: 0.5;
}

.music-controls {
	justify-content: space-between;
	margin-top: 20px;
}

.play-pause-button, .previous-button, .next-button {
	width: 50px;
	height: 30px;
	border: none;
	border-radius: 5px;
	background-color: #FFFFFF;
	color: #000000;
	cursor: pointer;
}


#volume-control{
	width: 100px;
	height: 5px;
	margin-left: 450px;
	margin-top: -15px;
	border-radius: 5px;
	background-color: #ddd;
	justify-content: center;
}


.progress-bar {
	width: 100%;
	height: 5px;
	margin-top: 10px;
	border-radius: 5px;
	background-color: #ddd;

}

.current-time, .total-time {
	font-size: 14px;
	color: #666;
}

.music-info {
	margin-top: 20px;
	padding-top: 5px;

}

.song-title {
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
}

.artist-name {
	font-size: 14px;
	color: #985f0d;
}

.song-like-button {
	background-color: #2c3034;
	font-size: 40px;
	color: #FFF;
	border: none;
	cursor: pointer;
}

.song-like-button text{
	font-size: 10px;
}

