{%extends 'base_admin.html'%}

{%block content%}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Songs</h1>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Top Selling -->
            <div class="col-12">
              <div class="card top-selling overflow-auto">

                <div class="card-body pb-0">
                  <h5 class="card-title">Songs</h5>

                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th scope="col">Art</th>
                        <th scope="col">Song</th>
                        <th scope="col">Album</th>
                        <th scope="col">Streams</th>
                        <th scope="col">Feature</th>
                        <th scope="col">Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                    {%for song in songs%}
                      <tr>
                        <th scope="row"><a href="{%url 'artist_admin:update-song' pk=song.id%}"><img src="{{song.song_art.url}}" alt=""></a></th>
                        <td><a href="{%url 'artist_admin:update-song' pk=song.id%}" class="text-primary fw-bold">{{song.name}}</td>
                        <td>{{song.album}}</td>
                        <td class="fw-bold">{{song.streams.count}}</td>
                        <td>{{song.feature}}</td>
                        <td><div class="icon">
                              <i class="bi bi-trash-fill"></i>
                              <a href="{%url 'artist_admin:delete_song' pk=song.id%}" class="label">Delete</a>
                            </div>
                        </td>
                      </tr>
                    {%endfor%}
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Top Selling -->

          </div>
        </div><!-- End Left side columns -->

      </div>
    </section>
{% include "pagination.html" with page=songs %}
  </main><!-- End #main -->
{%endblock%}