{%extends 'base.html'%}
{%load crispy_forms_tags%}
{%block title%}Ingoma-Songs{%endblock%}
{%block content%}
<div id="latestalbum" class="hero pad">
				<div class="container">
					<!-- hero content -->
<div class="featured pad" id="featuredalbum">
				<div class="container">
					<!-- default heading -->
					<div class="default-heading">
						<!-- heading -->
						<h2>{{header}}</h2>
					</div>
					<form role="form" id="contactForm" method="post">
						<div class="text-center">
							<div class="form-group">
								{{ form | crispy }}
								{% csrf_token %}
								<input type="hidden" name="next" value="{{ next }}" />
								<button type="submit" class="btn btn-lg btn-theme">Search</button>
								</div>
							</div>

					</form>
                </div>
                <div class="heading-container">
                    <h4>Hot Right Now</h4>
                </div>
                <div class="artist-grid">
                    {% for album in albums %}
                        <div class="artist">
                        {% if album.album_art %}
                            <a href="{% url 'muse:single-album' pk=album.id %}">
                                <img src="{{ album.album_art.url }}" alt=""></a>
                        {% else %}
                            <img src="default" alt="">
                        {% endif %}
                            <div class="artist-info">
                                <a href="{% url 'muse:single-album' pk=album.id %}"><h5>{{ album.name}}</h5></a>
                                <p>
                                    <a href="{% url 'muse:single-artist' pk=album.artist_id %}"
                                           class="artist-link" style="color: #985f0d;">{{ album.artist.display_name|safe }}</a>
                                </p>
                                <p>
                                    <i class="fa fa-music" style="color:#FFFFFF;">{{ album.album_songs.count }} songs</i>

                                    <i class="fa fa-headphones" style="color: #FFFFFF;">{{ album.songs.streams.count }} streams</i>
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

			<hr>
				</div>
</div>


					{% include "pagination.html" with page=albums %}
{%endblock%}