{%extends 'base.html'%}
{%load crispy_forms_tags%}
{%block title%}Artists{%endblock%}
{%block content%}
<div id="latestalbum" class="hero pad">
				<div class="container">
					<!-- default heading -->
					<div class="default-heading">
						<!-- heading -->
						<h2>
							<p>We sing the best <strong class="theme-color">Songs</strong> and now we control the world best <strong class="theme-color">Music</strong>.</p>

						</h2>
					</div>
					<form role="form" id="contactForm" method="post">
						<div class="text-center">
							<div class="form-group">
								{{ form | crispy }}
								{% csrf_token %}
								<input type="hidden" name="next" value="{{ next }}" />
								<button type="submit" class="btn btn-lg btn-theme">Search</button>
								</div>
							</div>

					</form>
					<div class="featured pad" id="featuredalbum">
				<div class="container">
					<!-- default heading -->
					<div class="default-heading">
						<!-- heading -->
						<h2>Hot Artists</h2>
					</div>
					<!-- featured album elements -->
					<div class="featured-element">
						{%for artist in top_artists%}
						{% if forloop.counter0|divisibleby:4 %}
						<div class="row">
						{% endif %}
							<div class="col-md-3 col-sm-6">
								<!-- featured item -->
								<div class="featured-item ">
									<!-- image container -->
									<div class="figure ">
										<!-- image -->


										<img class="img-responsive" src="{{artist.profile_picture.url}}" alt="" />
										<!-- paragraph -->

									</div>
									<!-- featured information -->
									<div class="featured-item-info">
										<!-- featured title -->
										<h5>
											<a href="{% url 'muse:single-artist' pk=artist.id %}"> {{artist.user}}</a>
										</h5>
										<!-- horizontal line -->
										<hr />
									</div>
								</div>
							</div>
						{% if forloop.counter|divisibleby:4 and not forloop.last %}
						</div>
						{% endif %}
						{%endfor%}
					</div>
				</div>
			</div>
{%endblock%}