{%extends 'base.html'%}
{%load static%}
{%block title%}home{%endblock%}/title>
		<!-- modal for booking ticket form -->
{%block content%}

<div id="latestalbum" class="hero pad">
				<div class="container">
					<!-- hero content -->
					<div class="hero-content ">
						<!-- heading -->
						<h2>Ingoma Top 10 Chart</h2>
						<hr>
						<!-- paragraph -->
						<p>We sing the best <a href="{% url 'muse:register' %}">Register</a> and now we control the world best
                            <strong class="theme-color">Music</strong>.</p>
					</div>
                </div>
</div>
    <div class="playlist-container">
        <div class="top-song">
            <div class="song-art">
                <img src="{{ promotions.0.image.url }}" alt="">
                <div class="song-details">
                    <h4>{{ promotions.0.title }}</h4>
                    <p><i>{{ promotions.0.body }}</i></p>

                </div>
            </div>
        </div>
        <div class="song-list">
            <ul>
                {% for song in top_songs %}
                <li>
                    <a href="{% url 'muse:play-song' song_id=song.id %}"><img src="{{ song.song_art.url }}" /></a>
                    <div class="song-info">
                        <b>
                            (#{{ forloop.counter }}) {{ song.song_name | capfirst}} </b>
                        {% if song.movement == 'up' %}
                            <i class="fa fa-arrow-up" style="color: green;">{{ song.movement_amount }}</i>
                        {% elif song.movement == 'down' %}
                            <i class="fa fa-arrow-down" style="color: darkred;">{{ song.movement_amount }}</i>
                        {% elif song.movement == 'same' %}
                            <i class="fa fa-minus" style="color: gray;">{{ song.movement_amount }}</i>
                        {% elif song.movement == 'new' %}
                            <i class="fa fa-arrow-up" style="color: dodgerblue;">{{ song.movement_amount }}</i>
                        {% endif %}
                        <p><i>
                            {{song.artist.display_name|safe}}</i>
                            {% if song.features %} <i class="song-features"> ft {{ song.features }}</i> {% endif %}
                        </p>
                    <p><i class="fa fa-heart"> {{song.likes.count}}</i>
                        <i class="fa fa-headphones" > {{song.streams.count}}</i>
                        <i class="fa fa-comment"> {{ song.comments.count }}</i>
                    </p>
                    </div>
                    <a href="{% url 'muse:play-song' song_id=song.id %}"><i class="fa fa-play"></i></a>
                </li>

                {% endfor %}
            </ul>
        </div>
    </div>


			<!-- top artist-->
			<div class="hot-artists-container">
                <div class="heading-container">
                    <h4>Hot Right Now</h4>
                </div>
                <div class="artist-grid">
                    {% for artist in top_artists %}
                        <div class="artist">
                        {% if artist.user.profile_picture %}
                            <a href="{% url 'muse:single-artist' pk=artist.id %}">
                                <img src="{{ artist.user.profile_picture.url }}" alt=""></a>
                        {% else %}
                            <img src="default" alt="">
                        {% endif %}
                            <div class="artist-info">
                                <h5>{{ artist.display_name|safe}}</h5>
                                <p>{{ artist.streams.count }} streams</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

			<hr>

    <div class="song-container" id="events">

    <div class="top-song">
            <div class="song-art">
                <img src="{{ promotions.1.image.url }}" alt="">
                <div class="song-details">
                    <h4>{{ promotions.1.title }}</h4>
                    <p><i>{{ promotions.1.body }}</i></p>

                </div>
            </div>
        </div>
        <div class="new-songs">
            <h4>New Songs</h4>
            <div class="song-grid">
                <div class="song-list">
                <ul>
                    {% for song in new_songs %}
                    <li>
                        <img src="{{ song.song_art.url }}" />
                        <div class="song-info">
                            <b>{{ song.song_name | capfirst}}</b>
                            <p><i>{{song.artist.display_name|safe}} </i></p>
                        </div>
                        <a href="{% url 'muse:play-song' song_id=song.id %}"><i class="fa fa-play"></i></a>
                    </li>

                    {% endfor %}
                </ul>
            </div>
            </div>
        </div>
     <div class="new-songs">
            <h4>Ingoma All Time Popular Songs</h4>
            <div class="song-grid">
                <div class="song-list">
                <ul>
                    {% for song in popular_songs %}
                    <li>
                        <img src="{{ song.song_art.url }}" />
                        <div class="song-info">
                            <b>{{ song.song_name | capfirst}}</b>
                            <p><i>{{song.artist.display_name|safe}} </i></p>
                        </div>
                        <a href="{% url 'muse:play-song' song_id=song.id %}"><i class="fa fa-play"></i></a>
                    </li>

                    {% endfor %}
                </ul>
            </div>
            </div>
        </div>
    </div>
   <div class="artist-top-songs">
   {% if request.user.is_authenticated %}
    <h2>Your Ingoma Playlist</h2>
    <ul>
        {% for song in recommended_songs %}
        <li>
            <div class="artist-song-info">
                <img src="{{ song.song_art.url }}" alt="" class="artist-album-art">
                <div class="artist-song-details">
                    <span class="artist-song-title">{{ song.song_name}} {% if song.album %}({{ song.album }}) {% endif %}</span>
                    <span class=artist-song-artist>{{ song.artist.display_name|safe}}
                                        {% if song.features %}
                                            <i class="song-features"> ft {{ song.features }}</i>
                                        {% endif %}
                    </span>
                <p>
                    <i class="fa fa-headphones"> {{ song.play_count }} streams</i>
                    <i class="fa fa-heart"> {{ song.likes.count }} likes</i>
                    <i class="fa fa-comment"> {{ song.comments.count }} comments</i>
                </p>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
   {% else %}
       <h2>Ingoma Top list</h2>
    <ul>
        {% for song in top_songs %}
        <li>
            <div class="artist-song-info">
                <a href="{% url 'muse:play-song' song_id=song.id %}">
                    <img src="{{ song.song_art.url }}" alt="" class="artist-album-art">
                </a>
                <div class="artist-song-details">
                    <span class="artist-song-title">{{ song.song_name}} {% if song.album %}({{ song.album }}) {% endif %}</span>
                    <span class=artist-song-artist>{{ song.artist.display_name|safe}}
                                        {% if song.features %}
                                            <i class="song-features"> ft {{ song.features }}</i>
                                        {% endif %}
                    </span>
                <p>
                    <i class="fa fa-headphones"> {{ song.play_count }} streams</i>
                    <i class="fa fa-heart"> {{ song.likes.count }} likes</i>
                    <i class="fa fa-comment"> {{ song.comments.count }} comments</i>
                </p>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
   {% endif %}
    </div>


{%endblock%}