{%extends 'base.html'%}
{%block title%}{{album.name}}{%endblock%}
{%block content%}
<div id="latestalbum" class="hero pad">
				<div class="container">
					<!-- hero content -->
					<div class="hero-content ">
						<!-- heading -->
						<h2>{{artist.user}}</h2>
						<hr>
						<!-- paragraph -->
						<p>We sing the best <strong class="theme-color">Songs</strong> and now we control the world best <strong class="theme-color">Music</strong>.</p>
					</div>
					<!-- hero play list -->
				</div>
			</div>
			<!--/ hero end -->
    <div class="artist-header">
    <div class="artist-image">
        {% if album.album_art %}
        <img src="{{ album.album_art.url }}" alt="">
            {% else %}
            <img src="" alt="">
        {% endif %}
    </div>
    <div class="artist-information">
        <h1 class="artist-name">{{ album.name}}</h1>
        <p class="artist-bio">{{ album.about_album}}</p>
        <p style="padding-top: 10px;">
            <a href="{% url 'muse:play_album' album_id=album.id %}" class="follow-button"><i class="fa fa-play"></i> </a>



        </p>
    </div>
    </div>
    <div class="artist-top-songs">
    <h2>{{ songs.count }} Songs</h2>
    <ul>
        {% for song in songs %}
        <li>
            <div class="artist-song-info">
            <a href="{% url 'muse:play-song' song_id=song.id %}">
                <img src="{{ song.song_art.url }}" alt="" class="artist-album-art"></a>
                <div class="artist-song-details">
                    <span class="artist-song-title">{{ song.song_name}} {% if song.album %}({{ song.album }}) {% endif %}</span>
                    <span class=artist-song-artist>{{ song.artist.display_name|safe}}
                                        {% if song.features %}
                                            <i class="song-features"> ft {{ song.features }}</i>
                                        {% endif %}
                    </span>
                <p>
                    <i class="fa fa-headphones"> {{ song.play_count }} streams</i>
                    <i class="fa fa-heart"> {{ song.likes.count }} likes</i>
                    <i class="fa fa-comment"> {{ song.comments.count }} comments</i>
                </p>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    </div>
{%endblock%}