{% load static %}
{%load crispy_forms_tags%}
<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <title>
   {{ song.name }}
  </title>
     <link href="{%static 'muse/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'muse/css/font-awesome.css' %}" rel="stylesheet"/>
  <link href="{% static 'muse/css/mediaelementplayer.min.css' %}" rel="stylesheet"/>
  <link href="{% static 'muse/css/player.css' %}" rel="stylesheet"/>
    <link href="{%static 'muse/css/comments.css'%}" rel="stylesheet">


		<!-- Custom CSS -->
		<!-- Custom CSS -->

 </head>
 <body>
  <!-- partial:index.partial.html -->
  <html>
   <head>
    <meta charset="utf-8"/>
    <title>
     Flat music player
    </title>
   </head>
   <body>
    <div class="contain">
     <div class="container">
      <div class="music-player">
       <div class="cover">
        <img alt="" src="{{song.song_art.url}}"/>
       </div>
       <div class="titre">
        <h3>
         {{song.artist}}{%if song.feature%} ft {{song.feature}} {%endif%}
        </h3>
        <h1>
         {{song.name}}
        </h1>
       </div>
       <center><a href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}"><i class="fa fa-step-backward fa-2x"></i></a> &nbsp; &nbsp; &nbsp; <a href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }} {% endif %}"><i class="fa fa-step-forward fa-2x"></i></a></center>
       <div class="lecteur">
        <audio class="fc-media" style="width: 100%;">
			{%if song.status == 'free'%}
         		<source src="{{song.song.url}}" type="audio/mp3"/>
			{%else%}
				<source src="{{song.demo.url}}" type="audio/mp3"/>
			{%endif%}
        </audio>

       </div>
      </div>
     </div>
    </div>
  <hr>
		<ul class="list-inline">
            <h3>Comment(s) {{comments.count}} </h3>
			</ul>

<hr>
<div class="comment-list">


								<ol>
									{%for comment in comments%}
									<li class="comment">
										<div class="single_comment first-comment">
											<div class="comment-content">
												<div class="comment-name">{{comment.user}}<span>-</span>{{comment.created}}</div>
												<div class="comment-text">
                                                    <p>{{comment.body}}</p>
												</div>
											</div>
										</div>
									</li>
									{%endfor%}
								</ol>

							</div>
                            <div class="comments-list">
                                {% if request.user.is_authenticated %}
                                        <h3>Leave a Comment</h3>
                                        <div class="comment-form">
                                            <form method="post">
                                                                    <div >
                                                                            {{form | crispy}}
                                                    {%csrf_token%}
                                                                                <div class="col-md-1 text-right">
                                                                                <button type="submit" class="btn btn-gray-border">Send Comment</button>
                                                                             </div>
                                                                    </div>
                                                                </form>
                                        </div>
                                    </div>
                                {% else %}
                                        <h3>Login to Comment</h3>
                                {% endif %}

   </body>
  </html>
  <!-- partial -->
  <script src="{% static 'muse/js/jquery.min.js' %}">
  </script>
  <script src="{% static 'muse/js/mediaelement-and-player.min.js' %}">
  </script>
  <script src="{% static 'muse/js/script.js' %}">
  </script>
 </body>
</html>