{%extends 'base.html'%}
{%block title%}{{artist.user}}{%endblock%}
{%block content%}
<div id="latestalbum" class="hero pad">
				<div class="container">
					<!-- hero content -->
					<div class="hero-content ">
						<!-- heading -->
						<h2>{{artist.user}}</h2>
						<hr>
						<!-- paragraph -->
						<p>We sing the best <strong class="theme-color">Songs</strong> and now we control the world best <strong class="theme-color">Music</strong>.</p>
					</div>
					<!-- hero play list -->
				</div>
			</div>
			<!--/ hero end -->
    <div class="artist-header">
    <div class="artist-image">
        {% if artist.user.profile_picture %}
        <img src="{{ artist.user.profile_picture.url }}" alt="">
            {% else %}
            <img src="" alt="">
        {% endif %}
    </div>
    <div class="artist-information">
        <h1 class="artist-name">{{ artist.display_name |safe}}</h1>
        <p class="artist-bio">{{ artist.user.about_artist}}</p>
        <p>
            <button class="follow-button"><i class="fa fa-facebook-official"></i> </button>
            <button class="follow-button"><i class="fa fa-twitter"></i> </button>
            <button class="follow-button"><i class="fa fa-youtube"></i> </button>
            <button class="follow-button"><i class="fa fa-instagram"></i> </button>
            <button class="follow-button"><i class="fa fa-whatsapp"></i> </button>
        </p>
    </div>
    </div>
    <div class="artist-top-songs">
    <h2>Best Songs</h2>
    <ul>
        {% for song in top_songs %}
        <li>
            <div class="artist-song-info">
                <img src="{{ song.song_art.url }}" alt="" class="artist-album-art">
                <div class="artist-song-details">
                    <span class="artist-song-title">{{ song.song_name}} {% if song.album %}({{ song.album }}) {% endif %}</span>
                    <span class=artist-song-artist>{{ song.artist.display_name|safe}}
                                        {% if song.features %}
                                            <i class="song-features"> ft {{ song.features }}</i>
                                        {% endif %}
                    </span>
                <p>
                    <i class="fa fa-headphones"> {{ song.play_count }} streams</i>
                    <i class="fa fa-heart"> {{ song.likes.count }} likes</i>
                    <i class="fa fa-comment"> {{ song.comments.count }} comments</i>
                </p>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    </div>
{%endblock%}