{%extends 'base.html'%}
{%load crispy_forms_tags%}
{%block title%}{{category.name}}{%endblock%}

{%block content%}

			<!-- featured abbum -->
			<div class="featured pad" id="featuredalbum">
				<div class="container">
					<!-- default heading -->
					<div class="default-heading">
						<!-- heading -->
						<h2>{{header}}</h2>
					</div>
					<form role="form" id="contactForm" method="post">
						<div class="text-center">
							<div class="form-group">
								{{ form | crispy }}
								{% csrf_token %}
								<input type="hidden" name="next" value="{{ next }}" />
								<button type="submit" class="btn btn-lg btn-theme">Search</button>
								</div>
							</div>
					</form>
                </div>
            </div>
                    <div class="genre-container">

                        <div class="genre-song-grid">
                            {% for song in songs %}
                            <div class="genre-song">
                            <a href="{% url 'muse:play-song' song_id=song.id %}" class="genre-song-info">
                                <img src="{{ song.song_art.url }}" alt="" class="album-art">
                            </a>
                                <div class="genre-song-info">
                                    <h4>{{ song.song_name }}{% if song.album %} ({{ song.album }}) {% endif %}</h4>
                                    <p><a href="{% url 'muse:single-artist' pk=song.artist.id %}"
                                                 class="artist-link"> {{ song.artist.display_name|safe}}</a>
                                        {% if song.features %}
                                            <i class="song-features"> ft {{ song.features }}</i>
                                        {% endif %}
                                    </p>
                                    <p>
                                        <i class="fa fa-headphones"> {{ song.play_count }} streams</i>
                                        <i class="fa fa-heart"> {{ song.likes.count }} likes</i>
                                        <i class="fa fa-comment"> {{ song.comments.count }} comments</i>
                                    </p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
{%endblock%}