{%extends 'base.html'%}
{%block title%}Ingoma-Songs{%endblock%}
{%load crispy_forms_tags%}
{%block content%}
    <div id="latestalbum" class="hero pad">
				<div class="container">
					<!-- hero content -->
					<div class="hero-content ">
						<!-- heading -->
						<h2>Ingoma Top 10 Chart</h2>
						<hr>
						<!-- paragraph -->
						<p>We sing the best <a href="{% url 'muse:register' %}">Register</a> and now we control the world best
                            <strong class="theme-color">Music</strong>.</p>
                        <form role="form" id="contactForm" method="post">
						<div class="text-center">
							<div class="form-group">
								{{ form | crispy }}
								{% csrf_token %}
								<input type="hidden" name="next" value="{{ next }}" />
								<button type="submit" class="btn btn-lg btn-theme">Search</button>
								</div>
							</div>

					</form>
					</div>
                </div>
					{%for genre in genres%}
                    <div class="genre-container">
                        <div class="heading-container">
                            <h4><a href="{% url 'muse:single_genre' pk=genre.id %}"
                                   class="heading-container"
                            style="color: #FFFFFF;">
                                {{ genre.name }}</a></h4>
                        </div>

                        <div class="genre-song-grid">
                            {% for song in genre.top_songs %}
                            <div class="genre-song">
                            <a href="{% url 'muse:play-song' song_id=song.id %}" class="genre-song-info">
                                <img src="{{ song.song_art.url }}" alt="" class="album-art">
                            </a>
                                <div class="genre-song-info">
                                    <h4>{{ song.song_name }}{% if song.album %} ({{ song.album }}) {% endif %}</h4>
                                    <p><a href="{% url 'muse:single-artist' pk=song.artist.id %}"
                                                 class="artist-link"> {{ song.artist.display_name|safe}}</a>
                                        {% if song.features %}
                                            <i class="song-features"> ft {{ song.features }}</i>
                                        {% endif %}
                                    </p>
                                    <p>
                                        <i class="fa fa-headphones"> {{ song.play_count }}</i>
                                        <i class="fa fa-heart"> {{ song.likes.count }}</i>
                                        <i class="fa fa-comment"> {{ song.comments.count }}</i>
                                    </p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}

    </div>
{%endblock%}