{%load static%}
{%load crispy_forms_tags%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Buy {{song.name}}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static "admin_panel/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
      <link href="{% static "admin_panel/bootstrap-icons/bootstrap-icons.css"%}" rel="stylesheet">
      <link href="{% static "admin_panel/boxicons/css/boxicons.min.css"%}" rel="stylesheet">
      <link href="{% static "admin_panel/quill/quill.snow.css"%}" rel="stylesheet">
      <link href="{% static "admin_panel/quill/quill.bubble.css"%}" rel="stylesheet">
      <link href="{% static "admin_panel/remixicon/remixicon.css"%}" rel="stylesheet">
      <link href="{% static "admin_panel/simple-datatables/style.css"%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static "admin_panel/css/style.css"%}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.2.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="#" class="logo d-flex align-items-center w-auto">
                  <span class="d-none d-lg-block">Ingoma {{payment_type}} PayNow</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Buy <strong>"{{song.name}}"</strong> by <strong>"{{song.artist}}"</strong></h5>
                    <p class="text-center small"><strong>ZIG {{header}}</strong></p>
                  </div>

                  <form method="post">

                    <div class="col-12">
                      {{form | crispy}}
                      {%csrf_token%}
                    </div>
                    <p>
                      <div class="col-12">
                        <button class="btn btn-primary w-100" type="submit">Submit</button>
                      </div>
                    </p>
                  </form>

                </div>
              </div>

              <div class="credits">
                  <p>Ingoma.com</p>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->


</body>

</html>